@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fbfbfb;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

